body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* XLarge */
@media (min-width: 1440px) {
  .container {
    width: 1400px;
  }
}
.upper-nav {
  background-color: #efefef;
  padding: 15px 0;
}
.upper-nav .container {
  display: flex;
  justify-content: space-between;
}
.upper-nav .container .contact {
  display: flex;
  color: #afafaf;
  font-size: 14px;
  align-items: center;
}
.contact .fab {
  font-size: 24px;
}

.upper-nav .container .contact .mail {
  margin-right: 30px;
}
.upper-nav .container .social-icons {
  display: flex;
  align-items: center;
}

.upper-nav .container .social-icons .fab {
  font-size: 30px;
  padding-right: 10px;
  color: #afafaf;
  transition: 0.4s;
}
.upper-nav .container .social-icons .fab:hover {
  color: #fa65b1;
  cursor: pointer;
}
nav {
  padding: 20px 0;
  -webkit-box-shadow: 0px 10px 42px -41px rgb(0 0 0 / 75%);
  -moz-box-shadow: 0px 10px 42px -41px rgb(0 0 0 / 75%);
  box-shadow: 0px 10px 42px -41px rgb(0 0 0 / 75%);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
nav .container {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
}
ul {
  list-style: none;
  display: flex;
}
ul li {
  padding-right: 50px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.4s;
}
ul li:hover {
  cursor: pointer;
  color: #fa65b1;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 0px 20px;
  border: 1px solid #fa65b1;
  height: 40px;
  color: #fa65b1;
  font-weight: 500;
  transition: 0.4s;
}
.btn:hover {
  cursor: pointer;
  background-color: #fa65b1;
  color: white;
}
.btn.btn-nav {
  height: 40px;
  align-self: center;
}

.section1 {
  padding: 140px 0px;
  position: relative;
}
.section1::before {
  content: url("../images/slider-left-dec.jpg");
  position: absolute;
  top: 0;
  z-index: -1;
}
.section1::after {
  z-index: -1;
  content: url(../images/slider-right-dec.jpg);
  position: absolute;
  right: 200px;
  top: -30px;
}
.section1 .container {
  display: flex;
}
.section1 .container .left-part {
  padding: 50px 0px;
  width: 50%;
}
.upper-heading {
  color: #fa65b1;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 7px;
}
.heading {
  font-size: 52px;
  font-weight: 700;
  color: #2c2c2c;
  line-height: 60px;
  margin-bottom: 10px;
}

.desc {
  color: #afafaf;
  width: 80%;
  line-height: 30px;
  margin-bottom: 20px;
}
.btn-main {
  width: fit-content;
}
.section1 .container .right-part {
  width: 50%;
}
.section1 .container .right-part img {
  width: 90%;
}
.section2 {
  padding: 120px 0;
}
.section2 .container {
  display: flex;
}
.purple {
  color: #726be3;
}
.section2 .container .left-part img {
  width: 650px;
}
.section2 .container .right-part {
  padding: 80px 30px;
}
.section2 .container .heading {
  font-size: 38px;
  margin-bottom: 50px;
  position: relative;
}
.section2 .container .heading::after {
  content: "";
  width: 50px;
  height: 2.5px;
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: #726be3;
}
.section2 .container .upper-heading {
  color: #726be3;
  font-size: 15px;
}
.section2 .container .desc {
  width: 100%;
  font-size: 14px;
  margin-bottom: 50px;
}
.desc a {
  color: rgb(0, 102, 255);
  text-decoration: none;
}

/* Loading */

.loading {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.ld-circle {
  color: #2c2c2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: relative;
}
.ld-circle::before,
.ld-circle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ld-circle:nth-child(1)::before {
  border: 5px solid black;
  border-color: #fa65b1 #fa65b1 #fa65b1 transparent;
  transform: rotate(90deg);
}
.ld-circle:nth-child(1):after {
  border: 5px solid black;
  border-color: #fa65b1 #fa65b1 #fa65b1 transparent;
  transform: rotate(45deg);
}

.ld-circle:nth-child(2)::before {
  border: 5px solid black;
  border-color: #726be3 #726be3 #726be3 transparent;
  transform: rotate(60deg);
}
.ld-circle:nth-child(2):after {
  border: 5px solid black;
  border-color: #726be3 #726be3 #726be3 transparent;
  transform: rotate(45deg);
}
.ld-circle:nth-child(3)::before {
  border: 5px solid black;
  border-color: #f58b58 #f58b58 #f58b58 transparent;
  transform: rotate(60deg);
}
.ld-circle:nth-child(3):after {
  border: 5px solid black;
  border-color: #f58b58 #f58b58 #f58b58 transparent;
  transform: rotate(45deg);
}

.ld-circle .per {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: -14px;
}
.ld-circle .loading-title {
  opacity: 0.4;
  font-size: 18px;
}
.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-heading .heading {
  font-size: 38px;
  position: relative;
}
.main-heading .upper-heading {
  color: #726be3;
  font-size: 16px;
}
.main-heading .heading::after {
  content: "";
  width: 50px;
  height: 2.5px;
  position: absolute;
  background-color: #726be3;
  left: 50%;
  bottom: -50%;
  transform: translate(-50%, -50%);
}
.section3 .grid-row {
  display: grid;
  margin-top: 60px;
  grid-template-columns: 15% 15% 15% 15% 15%;
  place-content: space-evenly;
  padding: 0px 40px;
}
.section3 {
  position: relative;
}
.section3 .container {
  padding: 80px 0px;
}
.section3 .back-svg {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: -50px;
  z-index: -1;
  background-image: url(../images/services-left-dec.jpg);
  background-repeat: no-repeat;
}
.section3 .svg {
  display: flex;
}
.section3 .back-svg-right {
  position: absolute;
  right: 0;
  top: 30%;
  z-index: -1;
}
.grid-row .card {
  width: 210px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  transition: 0.5s;
  background-color: white;
}
.grid-row .card p {
  font-weight: bold;
  font-size: 20px;
}

.grid-row .card {
  -webkit-box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
}

.grid-row .card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 112px -59px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 112px -59px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 112px -59px rgba(0, 0, 0, 0.75);
}

.wide-card {
  width: 100%;
  display: flex;
  padding: 100px;
  margin-top: 40px;
  -webkit-box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  border-radius: 15px;
  background-color: white;
}

.wide-card .left-part .wide-head {
  font-weight: 700;
  font-size: 20px;
  color: #fa65b1;
}
.check-grid {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.wide-card .check-grid .check {
  margin-right: 45px;
  margin-bottom: 20px;
}

.section4 {
  background-image: url("../images/quote-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section4 .container {
  padding: 120px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section4 .main-heading {
  margin-bottom: 60px;
}
.section4 .main-heading .upper-heading {
  color: white;
}
.section4 .main-heading .heading {
  color: white;
}
.section4 .main-heading .heading::after {
  background-color: white;
  bottom: -30%;
}

.form {
  height: 80px;
  background-color: white;
  border-radius: 50px;
  width: 900px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
.section4 .form input,
.section4 .form button {
  outline: none;
  border: 0;
  width: calc(93% / 3);
}

.section4 .form input {
  margin-left: 25px;
  height: 50%;
  border-bottom: 1px solid #00000017;
}
.section4 .form input::placeholder,
.section4 .form input {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
}

.section4 .form button {
  background-color: #726be3;
  color: white;
  font-size: 16px;
  letter-spacing: 0.6px;
  font-weight: 600;
  border-radius: 0;
  cursor: pointer;
  align-self: stretch;
}

.section5 {
  padding: 120px 0px 0px;
  position: relative;
}
.section5 .main-heading {
  align-items: flex-start;
  margin-bottom: 100px;
}

.section5 .main-heading .heading::after {
  left: 27px;
  bottom: -30%;
}

.section5 .cards-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 35px;
  padding: 0px 35px 0px 35px;
  flex-wrap: wrap;
}
.section5 .cards-grid .project-card {
  -webkit-box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  border-radius: 30px;
  background-color: white;
  overflow: hidden;
}
.section5 .cards-grid .project-card:hover .card-desc {
  color: #fa65b1;
}
.project-card .image {
  height: 80%;
}
.project-card .image img {
  width: 100%;
  height: 100%;
}
.project-card .card-desc {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;
  padding: 5px;
}
.project-card .card-desc .desc-head-card {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.project-card .card-desc .desc-card {
  font-size: 15px;
  opacity: 0.6;
}
.section5 .back-svg {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}

.section6 {
  padding: 120px 0 80px;
}
.section6 .main-heading {
  margin-bottom: 80px;
}
.section6 .cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.section6 .cards-grid .special-card {
  grid-row: span 3;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  border-radius: 30px;
  overflow: hidden;
}
.section6 .cards-grid .special-card img {
  width: 100%;
}
.section6 .cards-grid .card {
  display: flex;
}
.lower-card {
  padding: 20px 25px;
}

.lower-card .label-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.label-date .label {
  background-color: #726ae3;
  color: white;
  padding: 8px 10px;
  border-radius: 30px;
  font-size: 15px;
}

.label-date .date {
  opacity: 0.6;
  font-size: 15px;
  align-self: center;
}

.card-content .card-heading {
  font-weight: bold;
  font-size: 20px;
  width: 90%;
  margin-bottom: 25px;
}
.card-content .card-desc {
  font-size: 15px;
  opacity: 0.5;
  margin-bottom: 25px;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-info .image {
  border-radius: 50%;
  overflow: hidden;
  width: 55px;
  height: 55px;
}
.card-info span {
  margin-right: 230px;
  opacity: 0.75;
  font-size: 15px;
}
.card .upper-card .image {
  border-radius: 30px;
  overflow: hidden;
  display: flex;
}
.card .upper-card {
  width: 40%;
}
.card .upper-card .image img {
  width: 100%;
}

.card .lower-card .label-date {
  margin-bottom: 15px;
}
.card .lower-card .card-content .card-heading {
  margin-bottom: 15px;
}
.card .lower-card .card-content .card-desc {
  margin-bottom: 15px;
  width: 80%;
}
.card .lower-card {
  padding: 20px 25px;
}
